In [1]:
%run test.py

.
----------------------------------------------------------------------
Ran 1 test in 0.186s

OK

*** first 5 rows of data loaded ***
   Month_Year  Brunei Darussalam  Indonesia  Malaysia  Philippines  Thailand  \
0   1978 Jan                 0.0        0.0       0.0          0.0       0.0
1   1978 Feb                 0.0        0.0       0.0          0.0       0.0
2   1978 Mar                 0.0        0.0       0.0          0.0       0.0
3   1978 Apr                 0.0        0.0       0.0          0.0       0.0
4   1978 May                 0.0        0.0       0.0          0.0       0.0

   Viet Nam  Myanmar  Japan  Hong Kong  ...  Switzerland  Austria  \
0       0.0      0.0  18652       3148  ...         2185      0.0
1       0.0      0.0  20394       5805  ...         1596      0.0
2       0.0      0.0  20136       4510  ...         1461      0.0
3       0.0      0.0  13508       3254  ...         1472      0.0
4       0.0      0.0  14472       3212  ...         1189      0.0

   Scandinavia  CIS & Eastern Europe    USA  Canada  Australia  New Zealand  \
0         1881                   433   8362    1328      28421         3612
1         2112                   514   8251    1434      13982         2521
2         2183                   472   9901    1662      16536         2727
3         1590                   405  11782    1586      16499         3197
4         1245                   431  13448    2025      20690         5130

   Africa  year
0     587  1978
1     354  1978
2     405  1978
3     736  1978
4     514  1978

[5 rows x 36 columns]

Detected Rows: 479
Detected Columns: 36